#!/usr/bin/python3
from influxdb import InfluxDBClient

influx_host = '{{ pi.influx.host }}'
influx_port = {{ pi.influx.port }}
influx_user = '{{ pi.influx.user }}'
influx_password = '{{ pi.influx.password }}'
influx_db = '{{ pi.influx.db }}'

device = '{{ inventory_hostname_short }}'
sensor = 'CPU'

file = '/sys/class/thermal/thermal_zone0/temp'

temp_file = open(file, 'r')
temperature = int(temp_file.read().strip()) / 1000
temp_file.close()

influx = InfluxDBClient(influx_host,
                        influx_port,
                        influx_user,
                        influx_password,
                        influx_db
                        )

json_body = [
    {
        "measurement": "DeviceTemperatures",
        "tags" : {
            "device" : device,
            "sensor" : sensor,
        },
        "fields": {
            "temperature": int(temperature),
        }
    }
]

influx.write_points(json_body)
