{
    "insecure-registries" : [
    {% for registry in docker.insecure_registries %}
      "{{ registry }}",
      {% if loop.last %}
      "{{ registry }}"
      {% endif %}
    {% endfor %}
    ]
}
