[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ consul.config_directory }}/consul.hcl

[Service]
Type=notify
User=consul
Group=consul
ExecStart={{ consul.install_directory }}/consul agent -config-dir={{ consul.config_directory }}
ExecReload={{ consul.install_directory }}/consul reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
