datacenter = "{{ datacenter }}"
data_dir = "{{ consul.data_directory }}"
encrypt = "{{ consul.encryption_key }}"
retry_join = ["{{ consul.retry_join_ip }}"]

advertise_addr = "{{ ansible_eth0.ipv4.address }}"

performance {
  raft_multiplier = {{ consul.performance.raft_multiplier }}
}

{% if hostvars[inventory_hostname].consul_ui is defined
   and hostvars[inventory_hostname].consul_ui == True %}
addresses {
  http = "{{ ansible_eth0.ipv4.address }}"
}

ports {
  http = 8500
}

{% endif %}
