{% if hostvars[inventory_hostname].consul_server is defined
   and hostvars[inventory_hostname].consul_server == True %}
server = true
{% endif %}

bootstrap_expect = {{ consul.number_of_servers }}
{% if hostvars[inventory_hostname].consul_ui is defined
   and hostvars[inventory_hostname].consul_ui == True %}
ui = true
{% else %}
ui = false
{% endif %}
