datacenter = "{{ datacenter }}"
data_dir   = "{{ nomad.data_directory }}"

client {
    enabled = true

    {% if nomad.persistent_volumes is defined %}
    {% for vol in nomad.persistent_volumes %}
      host_volume "{{ vol.name }}" {
        path      = "{{ vol.path }}"
        read_only = {{ vol.read_only }}
      }
    {% endfor %}
    {% endif %}
}
