datacenter = "{{ datacenter }}"

# Increase log verbosity
log_level = "{{ nomad.log_level }}"

# Setup data dir
data_dir = "{{ nomad.data_directory }}"

# Give the agent a unique name. Defaults to hostname
# name = "server1"

# Enable the server
server {
  {% if hostvars[inventory_hostname].nomad_server is defined
    and hostvars[inventory_hostname].nomad_server == True %}
    enabled = true
  {% endif %}
  # Self-elect, should be 3 or 5 for production
  bootstrap_expect = {{ nomad.number_of_servers }}
}

# Enable the client
client {
  {% if hostvars[inventory_hostname].nomad_client is defined
    and hostvars[inventory_hostname].nomad_client == True %}
    enabled = true
  {% endif %}
}
